/**************************************/
/*              GLOBALS               */
/**************************************/
/** This is an extended test comment **/
/**huehuehueuheuhe**/
html {
  font-size: 0.75em;
}

body {
  /* font: 12px/1.2em arial,helvetica,verdana,helvetica-neue,sans-serif; */
  font-family: arial,helvetica,verdana,helvetica-neue,sans-serif;
  color: #666666;
  margin: 0;
  padding: 0;
  background: #F9F9F9;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  color: #1D4C7F;
}

p {
  line-height: 1.5;
}

a {
  color: #1D4C7F;
  text-decoration: none;
}
input, select {
  cursor: pointer;
  font-size: 100%;
}

fieldset {
  padding: 0 0 0 1em;
  margin: 1em 0 2em 0;
  border: none;
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
}
legend{
  display: block;
  margin: 0;
  padding: 0;
}
fieldset.collapsed {
  background-image: none;
}
fieldset legend, fieldset legend a {
  color: #1D4C7F;
}
html.js fieldset.collapsible legend a {
  text-decoration: none;
  background: none;
}
html.js fieldset.collapsible legend span.fieldset-legend {
  padding-left: 24px;
  background: transparent url("../images/fieldset_legend.png") no-repeat left 0;
}
/* html.js fieldset.collapsible legend a, */
html.js fieldset.collapsible legend span.fieldset-legend {
  width: 98%;
}
/* html.js fieldset.collapsible legend a,*/
html.js fieldset.collapsible legend a span.fieldset-legend {
  display: block;
  height: 1.5em;
  position: absolute;
  left: 0;
  top: 0px\9;
  line-height: 1.5em;
}
html.js fieldset.collapsed legend a {
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
}
fieldset .fieldset-wrapper {
  padding: 1em;
  background: transparent url("../images/comment_background.png") repeat-x 0 0;
}

html.js fieldset.collapsed {
  margin-bottom: 2em;
}
html.js fieldset.collapsed legend span.fieldset-legend {
  display: inline;
}

/**
 * Vertical tabs.
 */
html.js .vertical-tabs fieldset,
html.js .vertical-tabs fieldset .fieldset-wrapper {
  background-image: none;
}
.vertical-tabs ul.vertical-tabs-list li {
  background: transparent url("../images/comment_background.png") repeat-x 0 0;
}
.vertical-tabs ul.vertical-tabs-list li.selected {
  background-image: none;
}
.vertical-tabs ul.vertical-tabs-list .summary {
  font-size: .9em;
}

.right {
  text-align: right;
}

#wrapper {
  background: f7f7f7;
  /* margin: 0; */
   
  /* padding-bottom: 80px; */
  /* padding-top: 40px; */
}
/* Wrappers for Background images and shadows */
#wrapper-inner-top {
  background: #9AA1A7 url("../images/bg-main-top-low.jpg") repeat-x 0 0;
}
#wrapper-inner-bottom {
  background: url("../images/bg-main-bottom.jpg") repeat-x 0 bottom;
}
#wrapper-inner-color-bar {
  height: 4px;
  background: url("../images/bg-color-bar-low.jpg") repeat-x 0 160px;
}
#wrapper-inner-shadow-over-left {
  width: 100%;
  margin: auto;
  background: url("../images/bg-shadow-over-left.jpg") no-repeat 30px 2px;

}
#wrapper-inner-shadow-over-right {
  background: url("../images/bg-shadow-over-right.jpg") no-repeat 893px 2px;
  padding-top: 10px;
}
#wrapper-inner-shadow-repeated-left {
  background: url("../images/bg-shadow-repeated-left.jpg") repeat-y 8px 0;
}
#wrapper-inner-shadow-top-left {
  background: url("../images/bg-shadow-top-left.jpg") no-repeat 8px 0;
}
#wrapper-inner-shadow-color-bar-left {
  background: url("../images/bg-shadow-color-bar-left.jpg") no-repeat 8px 150px;
}
#wrapper-inner-shadow-middle-left {
  background: url("../images/bg-shadow-middle-left.jpg") no-repeat 8px 296px;
}
#wrapper-inner-shadow-bottom-left {
background: url("../images/bg-shadow-bottom-left.jpg") no-repeat 8px bottom;
}
#wrapper-inner-shadow-repeated-right {
  background: url("../images/bg-shadow-repeated-right.jpg") repeat-y 953px 0;
}
#wrapper-inner-shadow-top-right {
  background: url("../images/bg-shadow-top-right.jpg") no-repeat 953px 0;
}
#wrapper-inner-shadow-color-bar-right {
  background: url("../images/bg-shadow-color-bar-right.jpg") no-repeat 953px 150px;
}
#wrapper-inner-shadow-middle-right {
  background: url("../images/bg-shadow-middle-right.jpg") no-repeat 953px 296px;
}
#wrapper-inner-shadow-bottom-right {
background: url("../images/bg-shadow-bottom-right.jpg") no-repeat 953px bottom;
}

#main-wrapper {
  margin-bottom: 2em;
}
#content-area .region-content {
  padding-bottom: 1em;
}

/**
 * Skip link
 */
#skip-link a:link, #skip-link a:visited {
  font-weight: bold;
  background: #fff;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 80%;
  text-align: right;
  top: -99em;
  left: auto;
  position: absolute;
}

#skip-link a:hover, #skip-link a:focus, #skip-link a:active  {
  height: auto;
  width: auto;
  overflow: visible;
  top:0;
  left:0;
  position: fixed;
  z-index: 1000;
}



/**************************************/
/*              HEADER                */
/**************************************/
#header-wrapper {
  color: #ffffff;
}

#header-top {
  background: #ffffff;
  height: 111px;
  vertical-align: bottom;
  padding-top: 10px;
}

#header {
  height: 146px;
  background: transparent url("../images/header-bg-building.jpg") no-repeat 0 0;
}
#header-left {
  float: left;
  width: 500px;
  padding: 0;
  margin-right: 10px;
}
#header-right {
  float: right;
  width: 350px;
  padding: 20px;
  margin-right: 40px;
  display: block;
  height: 60px;
  margin-top: 20px;
  /* Fallback if the browser don't know about rgba. */
  background: rgb(23, 66, 99);
  /* Define rgba color with 50% transparency. */
  background: rgba(34, 66, 99, 0.5);
  overflow: hidden;
}
#header-top-right {
  float: left;
  width: 390px;
  padding-right: 40px;
  margin-right: 0;
}
#site-slogan {
  color: #FFFFFF;
  font-size: 1.5em;
  font-style: normal;
  padding-top: 0;
}

#logo-floater {
  float: left;
  width: 460px;
  padding-left: 40px;
  margin: 15px 20px 0 0;
}
#logo-floater h1 {
  margin: 0;
}
#branding a {
  text-decoration: none;
  font-weight: normal;
  font-size: 3em;
  color: #3D77A3;
  font-family: "calibri","arial narrow",arial,helvetica,sans-serif;
}
#branding img {
  float: left;
}
#branding .site-title {
   float: left;
   padding-left: 15px;
   padding-top: 23px;
}

#header-top-right .block-menu {
  padding-top: 90px;
}
#header-top-right .block-menu ul.menu {
  text-align: right;
}
#header-top-right .block-menu ul.menu,
#navigation ul.links {
  margin: 0;
  padding: 0;
}
#header-top-right .block-menu ul.menu li,
#navigation ul#main-menu li {
  background: transparent url(../images/main-menu-separator-2.jpg) no-repeat right -1px;
  margin: 0;
  padding: 0 0.9em 0 0.5em;
  display: inline;
  list-style-type: none;
}
#header-top-right .block-menu ul.menu li.first,
#navigation ul#main-menu li.first {
  padding-left: 0;
}
#header-top-right .block-menu ul.menu li.last,
#navigation ul#main-menu li.last {
  background: none;
}
/**************************************/
/*             NAVIGATION             */
/**************************************/
#wrapper #container #block-block-1 {
  background: transparent url("../images/navigation_background.png") repeat-x 0 0;
  color: #B6D8F3;
  line-height: 1.1;
  padding-left: 1.5em;
}
#block-block-1 .content {
   padding-left: 17px;
}
#block-block-1 p {
  margin: 0.3em 0;
}
#block-block-1 h2 {
  font-weight: normal;
  font-size: 1.5em;
  color: #E3F2FF;
  margin-top: 0;
  margin-bottom: 0.6em;
}
#block-block-1 ul {
  margin: 0;
  padding: 0;
}
#block-block-1 ul li {
  list-style-image: none;
  list-style-type: none;
  color: #B6D8F3;
  margin: 0;
  padding-left: 10px;
  background: transparent url("../images/menu_collapsed.gif") no-repeat left center;
}
#block-block-1 ul li a {
  color: #EFF8FF;
  text-decoration: none;
}
#block-block-1 ul li a.active {
  color: #5383B5;
  text-decoration: none;
}

#navigation ul#main-menu li a {
  font-size: 1.2em;
  color: #6D7E8F;
}
#navigation ul#main-menu li a.active,
#navigation ul#main-menu li a.active-trail,
#navigation ul#main-menu li a:hover,
#navigation ul#main-menu li a:focus {
   color: #0B72B7;
}

/* sub menu */
.sidebar ul.menu li {
  background: url(../images/nav_separator.gif) no-repeat center bottom;
  list-style-type: none;
  list-style-image: none;
  padding: 7px 0;
  margin: 0;
}

.sidebar ul.menu {
  padding-left: 0;
}

.sidebar ul.menu li a {
  color: #6C8497;
  display: block;
}

.sidebar ul.menu li a.active,
.sidebar ul.menu li a:hover {
  color: #1D4C7F;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#container {
  width: 95%;
  margin: 0 auto 0 auto;
  padding-top: 29px;
  background: #ffffff;
  height: 100%;
}

#content_main {
  padding-top: 10px;
}
#navigation {
  padding-top: 14px;
  margin-bottom: 10px;
}
.breadcrumb {
  font-size: 10px;
  color: #666666;
}

#content {
  float: left;
  display: inline;
  /* padding-right: 10px; */
  width: 650px;
  padding-left: 30px;
  /* height: 100%; */
  /* height: auto !important; */
  height: 450px;
}
#content.has-main-menu {
  background: url(../images/main-menu-bg.jpg) no-repeat -70px -7px;
}

.no-sidebars #content {
  width: 100%;
  /* height: 100%; */
}

#content-area {
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 55px;
}
#content-area .region-content {
  padding-right: 50px;
}
/**************************************/
/*            FORMS                   */
/**************************************/
.sidebar-first form#user-login-form input,
#page-footer form#user-login-form input {
  float: left;
}
.sidebar-first form#user-login-form label,
#page-footer form#user-login-form label {
  float: right;
  font-weight: normal;
  text-align: left;
  width: 75px;
  padding-left: 5px;
}
#page-footer form#user-login-form label {
  font-size: 0.93em;
}
form#user-login-form .item-list,
form#user-login-form .form-item {
  clear: both;
}
.sidebar-first form#user-login-form .form-item {
    padding-top: 8px;
}
#page-footer form#user-login-form .form-item {
  padding: 8px 0 0;
}
.sidebar-first form#user-login-form input#edit-submit,
#page-footer form#user-login-form input#edit-submit,
.sidebar-first form#user-login-form input#edit-submit-2,
#page-footer form#user-login-form input#edit-submit-2  {
  clear: both;
  margin-top: 8px;
}
#search-block-form input[type=text],
.sidebar-first #user-login-form input[type=text],
.sidebar-first #user-login-form input[type=password] {
  background: #F0F3F7 url("../images/search_bg.gif") no-repeat 0 bottom;
  border: none;
  width: 120px;
  padding: 4px 2px;
}
#search-block-form input.form-submit {
  background: none;
  border: none;
  color: #1D4C7F;
  padding: 0;
}
#page-footer #user-login-form input[type=text],
#page-footer #user-login-form input[type=password] {
  background: #F0F3F7 url("../images/input-bg-dark.jpg") no-repeat center bottom;
  border: none;
  width: 120px;
  padding-left: 0;
  padding-right: 0;
}
#page-footer #block-user-login h2 {
  margin-bottom: 3px;
}
#page-footer a {
  color: #fff;
  text-decoration: underline;
}
#page-footer a:hover {
  text-decoration: none;
}
.sidebar-first #user-login-form a {
  color: #6C8497;
  text-decoration: none;
  font-size: 0.93em;
}
.sidebar-first #user-login-form ul {
  padding-left: 0;
  padding-top: 0.5em;
}

.contextual-links-region-active {
  outline-color: #1D4C7F;
}
#page-footer #user-login-form .item-list {
  display: none;
}

/**************************************/
/*              SIDEBAR               */
/**************************************/
#wrapper #container .sidebar {
  float: left;
  display: inline;
  width: 240px;
  padding: 0 0 0 20px;
  margin: 24px 0 12px 0;
  position:relative;
  z-index:2;
}
div.sidebar-first {
  margin-right: 0;
}

#wrapper #container .sidebar .block {
  margin:0 0 1.5em;
  padding: 1.5em 1.5em 1.5em 0.4em;
  overflow: hidden;
}
#sidebar-first .block {
  padding:0 15px 0 0;
}
.block h2 {
  font-size: 1.25em;
  color: #4A6BAB;
}

/**************************************/
/*               FOOTER               */
/**************************************/
#page-footer {
  background: #1E517D url("../images/footer_bg.jpg") repeat-y 0 0;
  min-height: 10%;
  height: auto !important;
  height: 135px;
  margin-top: 12px;
  padding-bottom: 10px;
  clear: both;
  width: 100%;
}

#page-footer .block {
  float: left;
  width: 205px;
  padding: 10px 28px;
  color: #ffffff;
}
#page-footer .block h2 {
  font-size: 1em;
  font-weight: bold;
  color: white;
}
#page-footer .block input {
  font-size: 100%;
}
#page_postfooter {
  margin: 5px auto 0 auto;
  width: 950px;
  font-size: 10px;
}
#page_postfooter a:hover {
  text-decoration: underline;
}

#container textarea {
  padding: 4px 5px 2px 5px;
  margin: 0 0 4px 0;
}
input[type="text"], input[type="password"] {
  cursor: text;
}

/* pager */
.item-list .pager li {
  margin: 0;
  padding: 0;
}

.item-list .pager li.pager-current,
.item-list .pager li a {
  text-decoration: none;
  color: #1D4C7F;
}

.item-list .pager li.pager-current,
.item-list .pager li.pager-item a,
.item-list .pager li.pager-first a,
.item-list .pager li.pager-last a {
  display: inline-block;
  height: 14px;
  width: 17px;
}

.item-list .pager li a:hover,
.item-list .pager li a:active,
.item-list .pager li.pager-current {
  text-decoration: none;
  color: #ffffff;
  background: #1E517D;
  font-weight: normal;
  padding: 1px 0px;
}

.item-list .pager li.pager-first a span,
.item-list .pager li.pager-last a span {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.item-list .pager li.pager-first a {
  background: transparent url("../images/bg-first.png") no-repeat 0px 2px;
}

.item-list .pager li.pager-previous a {
  background: transparent url("../images/bg-previous.png") no-repeat 0 -1px;
  padding-left: 14px;
}

.item-list .pager li.pager-next a {
  background: transparent url("../images/bg-next.png") no-repeat right -1px;
  padding-right: 14px;
}

.item-list .pager li.pager-last a {
  background: transparent url("../images/bg-last.png") no-repeat right 2px;
}

.item-list .pager li.pager-first a:hover,
.item-list .pager li.pager-previous a:hover,
.item-list .pager li.pager-next a:hover,
.item-list .pager li.pager-last a:hover {
  padding-top: 0;
  padding-bottom: 0;
  color: #1D4C7F;
}

div.node {
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
  padding-bottom: 0.5em;
  margin-bottom: 1.3em;
}

div.node h2 {
  font-size: 1.5em;
  color: #1D4C7F;
  padding: 0.7em 0 0.7em;
  margin: 0;
}
div.node h2 a, .node h2 a:link, .node h2 a:visited {
  color: #1D4C7F;
  text-decoration: none;
  font-weight: normal;
}
div.node p {
  color: #6C8497;
  margin: 0;
  padding: 0.5em 0;
}
.node .content {

}
.node-teaser {
  margin-bottom: 0.5em;
}

div.user-picture {
  float: left;
  margin: 0 20px 0 0;
  padding: 3px 0 8px 0;
}
div.user-picture img {
  margin: 0;
  padding: 0;
  border: 0;
  width: 50px;

}
div.node.has-author-picture .content, div.node.has-author-picture div.links {
  padding-left: 95px;
}
div.node.has-author-picture .comment .content, div.node.has-author-picture div.links div.links {
  padding-left: 0;
}

div.node div.links, div.comment div.links {
  float: right;
}

div.node .links {
  padding: 0.7em 0 0.5em;
  font-size: 0.96em;
}

div.node ul.links,
div.comment ul.links {
  line-height: 1.75em;
  padding: 0.5em 1em 0.4em 0;
  margin: 0;
  float: right;
}

div.node ul.links a {
  text-decoration: none;
  color: #1D4C7F;
}
ul.links.inline li {
  display: inline-block;
  padding: 0 12px;
  background: transparent url("../images/inline_links_separator.png") no-repeat right 0;
}
ul.links.inline li.first {
  padding-left: 0;
}
ul.links.inline li.last {
  padding-right: 0;
  background-image: none;
}
ul.links .comment-add a {
  padding-left: 15px;
  background: transparent url("../images/comment_add.png") no-repeat 0 2px;
}
ul.links .comment-comments a, ul.links .comment-new-comments a {
  padding-left: 15px;
  background: transparent url("../images/comments_count.png") no-repeat 0 0;
}

div.node .field-name-taxonomy-tags {
  display: block;
}
div.node .field-name-taxonomy-tags .field-label {
  float: left;
  margin-right: 0.5em;
}
div.node .field-name-taxonomy-tags .field-item {
  float: left;
  margin: 0 .2em;
}

#comments {
  margin-top: 3em;
}
div.comment h3 {
  font-weight: normal;
  margin: 0 0 .5em 0;
}
div.comment h3 a {
  text-decoration: none;
}
div.comment {
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
  margin-bottom: 2em;
  padding-bottom: 1px;
}
div.node div.comment.has-author-picture .content, div.node div.comment.has-author-picture div.links {
  padding-left: 95px;
}

div.comment.has-author-picture .submitted {
  padding-left: 95px;
  margin-bottom: 1em;
}
div.comment p {
  margin: 0;
}
div.comment-inner {
  background: transparent url("../images/comment_background.png") repeat-x 0 0;
  padding: 20px 20px 0 20px;
}

table {
  width: 100%;
}
thead, tbody {
  border: none;
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
}
thead th, tbody td {
  border: none;
  padding-left: 1em;
  line-height: 1.75em;
}
thead th {
  font-weight: normal;
  color: #1D4C7F;
}
thead th a {
  text-decoration: none;
}
tbody tr.even, tbody tr.odd {
  background: transparent url("../images/row_separator.png") no-repeat 0 0;
  border: none;
}
tfoot {
  background: transparent url("../images/row_separator.png") no-repeat 0 top;
  border: none;
}
tbody tr.odd {
  background-color: #F0F3F7;
}
tbody td {
  color: #788897;
}
tbody td a {
  text-decoration: none;
  padding: 0 .2em;
  margin: 0 .2em;
}
tfoot td {
  font-style: italic;
}

.content table {
  margin: 1em 0;
}

ul.primary, ul.tabs.secondary {
  padding: 0 0 5px 0;
  margin-left: -5px;
  background: transparent url("../images/row_separator.png") no-repeat 0 bottom;
  border: none;
}
ul.primary li, ul.tabs.secondary li {
  background: transparent url("../images/inline_links_separator.png") no-repeat right 0;
  margin: 0;
  padding: 0;
  border: none;
}
ul.primary li.last, ul.tabs.secondary li.last {
  background-image: none;
}
ul.primary li a, ul.tabs.secondary li a {
  color: #788897;
  background: none;
  border: none;
  padding: 4px 8px 4px 6px;
  margin: 0;
}
ul.primary li a:hover, ul.tabs.secondary li a:hover {
  color: #0B72B7;
  background: none;
}
ul.primary li.active a, ul.primary li.active a.active, ul.tabs.secondary li.active a, ul.tabs.secondary li.active a.active {
  border: none;
  color: #0B72B7;
  background: none;
}

/**
 * Buttons
 */
input.form-submit,
a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  background: url(../images/bg-buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}
div.node-form input.form-submit {
  border: 1px solid #8eB7cd;
  border-left-color: #8eB7cd;
  border-right-color: #8eB7cd;
  border-bottom-color: #7691a2;
  background: url(../images/bg-buttons.png) 0px -40px repeat-x;
  color: #133B54;
}
input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0px -1px 0px;
}
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
      div.menu-mis ul{

        list-style-type:none;
        margin-top: 4%;
        float: right;
    
      }

      div.menu-mis ul li{
        margin: 0 50px 0px 0px;
        cursor:pointer;   
        float:left;
        padding-top: 1px;
        position: relative;
        padding: 0 0.9em 0 0.5em;
    
      }

      div.menu-mis ul li a{
        text-decoration:none;
        font-size: 1.2em;
      }

      div.menu-mis ul li a:hover{
        font-weight:bold;
      }

      div.menu-mis li ul
      {
        display:none;
        position:absolute;
        padding-top: 1px;       
        margin: 0 50px 0px 0px;
        cursor:pointer; 
        background: rgb(228, 248, 241);
        box-shadow: 1px 12px 37px 1px rgb(168, 168, 168);
        padding: 10px 10px 10px 10px;
        line-height:30px;
        z-index:3;
      
      }

      div.menu-mis li:hover ul
      {
        display:block;
        width:300px;
      }

      div.menu-mis li li
      {
        list-style:none;
        display:list-item;
        width:100%;
      }

      div.menu-mis li li a{
        text-decoration:none;
        font-size: 1.2em;
      }

      div.menu-mis li li a:hover{
        font-weight:bold;
      }
