	.easy-accordion{display:block;position:relative;overflow:hidden;padding:0;margin:0}
	.easy-accordion dt,.easy-accordion dd{margin:0;padding:0}
	.easy-accordion dt,.easy-accordion dd{position:absolute}
	.easy-accordion dt{margin-bottom:0;margin-left:0;z-index:5;/* Safari */ -webkit-transform: rotate(-90deg); /* Firefox */ -moz-transform: rotate(-90deg);-moz-transform-origin: 20px 0px;  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);cursor:pointer;}
	.easy-accordion dd{z-index:1;opacity:0;overflow:hidden}
	.easy-accordion dd.active{opacity:1;}
	.easy-accordion dd.no-more-active{z-index:2;opacity:1}
	.easy-accordion dd.active{z-index:3}
	.easy-accordion dd.plus{z-index:4}
	.easy-accordion .slide-number{position:absolute;bottom:0;left:10px;font-weight:normal;font-size:1.1em;/* Safari */ -webkit-transform: rotate(90deg); /* Firefox */ -moz-transform: rotate(90deg);  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}

	dd p{line-height:120%}

	#accordion-1{width:900px;height:180px;padding:0px;background:#fff;border:1px solid #b5c9e8}
	#accordion-1 dl{width:900px;height:180px}	
	#accordion-1 dt{height:46px;line-height:44px;text-align:right;padding:0 15px 0 0;font-size:1.1em;font-weight:bold;font-family: Tahoma, Geneva, sans-serif;text-transform:uppercase;letter-spacing:1px;background:#fff url(../img/slide-title-inactive-1.jpg) 0 0 no-repeat;color:#26526c}
	#accordion-1 dt.active{cursor:pointer;color:#fff;background:#fff url(../img/slide-title-active-1.jpg) 0 0 no-repeat}
	#accordion-1 dt.hover{color:#68889b;}
	#accordion-1 dt.active.hover{color:#fff}
	#accordion-1 dd{padding:25px;background:url(../img/slide.jpg) bottom left repeat-x;border:1px solid #dbe9ea;border-left:0;margin-right:3px}
	#accordion-1 .slide-number{color:#68889b;left:10px;font-weight:bold}
	#accordion-1 .active .slide-number{color:#fff;}
	#accordion-1 a{color:#68889b}
	#accordion-1 dd img{float:right;position:relative; bottom: 25px;}
	#accordion-1 h2{font-size:2.5em;margin-top:0px}
	#accordion-1 .more{padding-top:10px;display:block}
	
	
	#boxes .window {
	position:absolute;
	left:0;
	top:0;
	width:440px;
	height:200px;
	display:none;
	z-index:9999;
	padding:20px;
	}

	#boxes #dialog {
	width:600px; 
	height:600;
	padding:10px;
	background-color:#d7dde3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 5px 5px 5px rbga(0,0,0,0.5);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}

	.close{display:block; text-align:right;}