
html {
  direction: rtl;
}

/**
 * Generic elements
 */
body {
  direction: rtl;
}

ul,
.block ul,
ol {
  padding: 0 1.5em 0 0;
}

ul.menu,
.item-list ul {
  margin: 0.35em -0.5em 0 0;
}

ol li,
ul li,
ul.menu li,
.item-list ul li,
li.leaf {
  margin: 0.15em .5em 0.15em 0;
}

ul li.collapsed {
  list-style-image: url(images/menu-collapsed-rtl.gif);
}

ul.inline li {
  padding: 0 0 0 1em;
}

ol.task-list {
  margin-left: 0;
  margin-right: 0;
}

ol.task-list li {
  padding: 0.5em 2em 0.5em 1em;
}

ol.task-list li.active {
  background: transparent url(images/task-list.png) no-repeat 97px 50%;
}

ol.task-list li.done {
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 100% 50%;
}

ol.task-list li.active {
  margin-right: 0;
  margin-left: 1em;
}

dl {
  margin: 0.5em 1.5em 1em 0;
}

dl dt {
}

dl dd {
  margin: 0 1.5em .5em 0;
}

.messages li {
  padding: 0 1.3 0 0;
}

.form-button,
.form-submit {
  margin: 0 0 0 0.5em;
}

.region-header h2 {
  margin: 0 0 0 1em;
}

#wrapper {
  background: #edf5fa url("images/body.png") repeat-x 50% 0;
}

#branding img {
  padding-right: 0;
  padding-left: 20px;
  float: right;
}

#wrapper #container #center {
  float: right;
}

.sidebar li{
  list-style:none;
}

body.sidebar-first #center {
  margin-left: 0;
  margin-right: -210px;
}
body.sidebar-second #center {
  margin-left: -210px;
  margin-right: 0;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-first #squeeze {
  margin-left: 0;
  margin-right: 210px;
}
body.sidebar-second #squeeze {
  margin-left: 210px;
  margin-right: 0;
}

#wrapper #container .sidebar {
  float: right;
}

#sidebar-first .block {
  padding: 0 0 0 15px;
}

#sidebar-second .block {
  padding: 0 15px 0 0;
}



#sidebar-first .block-region {
  margin: 0 0 0 15px;
}

#sidebar-second .block-region {
  margin: 0 15px 0px 0;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center #squeeze {
  background: #fff url("images/bg-content.png") repeat-x 50% 0;
}

#wrapper #container .breadcrumb {
  position: absolute;
  top: 15px;
  left: 0;
  right: 35px;
  z-index: 3;
}

/**
 * Primary navigation
 */
ul.main-menu {
  float: left;
  width:70%;
}

ul.main-menu li {
  float: right;
}

/**
 * Secondary navigation
 */
ul.secondary-menu {
  float: left;
  clear: left;
  margin-left: 16em;
}

ul.secondary-menu li {
  float: right;
}

ul.primary {
  float: right;
}
ul.secondary {
  clear: both;
  text-align: right;
}
h1.with-tabs {
  float: right;
  margin: 0 0 0 2em;
}

ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.primary li a:visited,
ul.secondary li a,
ul.secondary li.active a,
ul.secondary li a:hover,
ul.secondary li a:visited {
  margin: 0 1px 0 0;

}
ul.primary li a:after {
  /* Fix Firefox 2 RTL bug. */
  content: " ";
}

ul.links li, ul.inline li {
  padding-left: 1em;
  padding-right: 0;
}

.node .links,
.comment .links {
  text-align: right;
  padding-right: 0;
}

.user-picture,
.comment .submitted {
  padding-left: 0;
  float: left;
  clear: left;
  padding-right: 1em;
}

.new {
  float: left;
}

.indented {
  margin-left: 0;
  margin-right: 25px;
}

html.js fieldset.collapsible .fieldset-legend {
  padding-left: 0;
  padding-right: 2em;
  background: url("images/menu-expanded.gif") no-repeat 100% 50%;
}

html.js fieldset.collapsed .fieldset-legend {
  background: url("images/menu-collapsed-rtl.gif") no-repeat 100% 50%;
}

/**
 * Vertical tabs.
 */
div.vertical-tabs {
  margin-left: 5%;
  margin-right: 15em;
}

/**
 * Syndication Block
 */
#block-node-syndicate h2 {
  float: right;
  padding-right: 0;
  padding-left: 20px;
}

#block-node-syndicate img {
  float: left;
}

#block-node-syndicate .content {
  clear: left;
}

/**
 * Login Block
 */
#user-login-form ul {
  text-align: right;
}
#user-login-form .openid-links {
  padding-left: 0;
  padding-right: 0.5em;
}
#user-login-form .openid-links li.user-link {
  padding-left: 0;
  padding-right: 1em;
}

div.admin .left {
  float: right;
}

div.admin .right {
  float: left;
}

/* Fix Opera, IE6 and IE7 header width */
#wrapper #container #header {
  position: relative;
  width: 100%;
}

#wrapper #container #header #logo-floater {
  width: 100%;
  left: 0;
  top:0;
}

/**
 * Fixes for IE7 - Does not break other browsers
 */

/* Position:relative on these breaks IE7. */
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.primary li a:visited,
ul.secondary li a,
ul.secondary li.active a,
ul.secondary li a:hover,
ul.secondary li a:visited {
  position: static;
}

/* Fix right and left cloumns position breaking on window resize */
#container {
  position: relative;
}

#center {
  position: relative;
}

#sidebar-second {
  position: absolute;
  right: 0;
}

/**
 * Apply hasLayout to elements in IE7, using standard property "min-height"
 * (see http://www.satzansatz.de/cssd/onhavinglayout.html)
 */

/* Fix background bleed in center column. */
#squeeze,
#squeeze .right-corner {
  min-height: 1%;
}
